<script>
myval = 0;
</script>

{% extends "../layouts/tc_main_layout.html" %}

{% block title %}
{% end %}

{% block ownstyles %}

{% end %}

{% block ownscripts %}
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    
     <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    

    <!-- jQuery UI -->
    <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet"></link>
<link href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css" rel="stylesheet"></link>

 <script type="text/javascript" >
    var mytable = null;
    
    $(document).ready(function() {
    mytable = $('#example').DataTable( {
        columnDefs: [ {
            orderable: true,
            className: 'select-checkbox',
            targets:   [0]
        }
        ],
        select: {
            style:    'multi',
            selector: 'td:first-child'
        },
         colReorder: true,
	"language": {
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No hay resultados - Disculpe",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "search": "Buscar:", 
	    "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        },        
        order: [[ 1, 'desc' ]]
    } );
    
   
} );
</script>
{% end %}

{% block listscripts %}

{% end %}


{% block panel %}

 
<br/>
<br/>


{% if len(mylist) > 0 %}        

<span style="font-weight:bold"> Hay {{len(mylist) }} registros</span><br/><br/>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
               {% for key in mykeys %}           
                    <th>{{key}}</th>
                {% end %}
                 <th>---</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
               {% for key in mykeys %}           
                    <th>{{key}}</th>
                {% end %}
                      </tr>
        </tfoot>
        
        <tbody>
  {% for record in mylist %}            
            <tr name="rowtable_{{record['id']}}" id="rowtable_{{record['id']}}"  >
                <td></td>
                {% for key in mykeys %}    
		    <td>{{record[key]}}</td>
	      {%  end %}
	      <td></td>
            </tr>
   {%  end %}
            </tbody>
    </table>
    
{% else %}
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sin registros</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>           
           </tr>
        </tfoot>
        
        <tbody>
  {% for record in mylist %}                
            <tr>                
            </tr>
   {%  end %}
            </tbody>
    </table>
  
{% end %}

{% block buttons %}

{% end %}

{% end %}
