<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<div class="panel panel-warning">
	<div class="panel-heading"><img class="hidden-lg" width="32" height="32" src="/static/logo_weetup.png"> Anuncio patrocinado</div> 
	<div class="panel-body" style="padding-bottom:0px">
		<div class="col-md-12 col-xs-12 col-sm-12" align="center">
			<ins class="adsbygoogle"
			     style="display:inline-block;width:100%;height:100px"
			     data-ad-client="ca-pub-2530631463482595"
			     data-ad-slot="9434072529"></ins>

		</div>		
	</div>
</div>

<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>