<div class="panel panel-default">
    <div class="panel-body">
			&copy; 2015 Weetup<br/>
			<a href="/about" class="footer-link">Sobre nosotros</a><br/>
			<a href="//support.twitter.com" class="footer-link">Ayuda</a><br/>
			<a href="/tos" class="footer-link">Condiciones</a><br/>
			<a href="/privacy" class="footer-link">Privacidad</a><br/>
			<a href="//support.twitter.com/articles/20170514" class="footer-link">Cookies</a><br/>
			<a href="//support.twitter.com/articles/20170451" class="footer-link">Información sobre anuncios</a><br/>
			<a href="//sobre.weetup.com/" class="footer-link">Marca</a><br/>
			<a href="//blog.weetup.com/" class="footer-link">Blog</a><br/>
			<a href="//ads.weetup.com.ve/" class="footer-link">Anunciarse</a><br/>
			<a href="//media.weetup.com" class="footer-link">Prensa</a>
		</ul>
    </div>
</div>