{% set has_fotos = len(pubs[0]['foto1']) > 0 and pubs[0]['foto1'] != "/static/media/nophoto_small.png"%}
<script type="text/javascript">

jQuery(document).ready(function($) {

	$('#myCarousel').carousel({
		interval: 5000
	});

	$('#carousel-text').html($('#slide-content-0').html());

	//Handles the carousel thumbnails
	$('[id^=carousel-selector-]').click( function(){
		var id = this.id.substr(this.id.lastIndexOf("-") + 1);
		var id = parseInt(id);
		$('#myCarousel').carousel(id);
	});


	// When the carousel slides, auto update the text
	$('#myCarousel').on('slid.bs.carousel', function (e) {
		var id = $('.item.active').data('slide-number');
		$('#carousel-text').html($('#slide-content-'+id).html());
	});
        
});  

</script>

<div class="row">
	<div class="col-md-8">
		<p class="weetuptitle text-capitalize">{% raw pubs[0]['summary'] %}</p>
	</div>
	<div class="col-md-4">
		<p class="weetupprice text-right">
	          {{  pubs[0]['price'] }}
	    </p>
	</div>
	
</div>
{%  if has_fotos  %}
	<hr/>
	
			<div class="row">

				<div class="col-md-12" align="center" id="carousel-bounding-box">

					<div class="carousel slide thumbnail" id="myCarousel">
						<!-- Carousel items -->
						<div class="carousel-inner">

								<div class="active item" data-slide-number="0">
									<img src="{{ pubs[0]['foto1'] }}">
								</div>

							{%  if len(pubs[0]['foto2']) > 0 and pubs[0]['foto2'] != "/static/media/nophoto_small.png" %} 
								<div class="item" data-slide-number="1">
									<img src="{{ pubs[0]['foto2'] }}">
								</div>
							{% end %}

							{%  if len(pubs[0]['foto3']) > 0 and pubs[0]['foto3'] != "/static/media/nophoto_small.png"   %}
								<div class="item" data-slide-number="2">
									<img src="{{ pubs[0]['foto3'] }}">
								</div>
							{% end %}

							{%  if len(pubs[0]['foto4']) > 0 and pubs[0]['foto4'] != "/static/media/nophoto_small.png"   %}
								<div class="item" data-slide-number="3">
									<img src="{{ pubs[0]['foto4'] }}">
								</div>
							{% end %}
						</div><!-- Carousel nav -->


						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>                      
						</a>

						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>                          
						</a>                                
					</div>

				</div><!--/Slider-->
			</div>

			<div class="row" id="slider-thumbs">
				<!-- Bottom switcher of slider -->

				<div class="col-md-12" align="center">

						<a class="thumbnail thumbnail-slider" id="carousel-selector-0">
							<img src="{{ pubs[0]['foto1'] }}">
						</a>

					{%  if len(pubs[0]['foto2']) > 0 and pubs[0]['foto2'] != "/static/media/nophoto_small.png"  %}

						<a class="thumbnail thumbnail-slider" id="carousel-selector-1">
							<img src="{{ pubs[0]['foto2'] }}">
						</a>

					{% end %}

					{%  if len(pubs[0]['foto3']) > 0 and pubs[0]['foto3'] != "/static/media/nophoto_small.png"  %}

						<a class="thumbnail thumbnail-slider" id="carousel-selector-2">
							<img src="{{ pubs[0]['foto3'] }}">
						</a>

					{% end %}

					{%  if len(pubs[0]['foto4']) > 0 and pubs[0]['foto4'] != "/static/media/nophoto_small.png"  %}

						<a class="thumbnail thumbnail-slider" id="carousel-selector-3">
							<img src="{{ pubs[0]['foto4'] }}">
						</a>

					{%  end %}
				</div>
			</div>
{% end %}

{% if pubs[0]['description'] != "" %}
<div class="row">
	<div class="col-md-12">
		{% raw pubs[0]['description'] %}
	</div>
</div>
{% else %}

{% end %}

{% try %}
	{% if pubs[0]['shippingtype'] != None %}
	<hr/>
	<div class="row">
		<div class="col-md-12">
			<span class="weetupshipping">
			Tipo de Envío: {{  pubs[0]['shippingtype'] }}
			</span>
		</div>
		<div class="col-md-12">
			<span class="weetupshipping">
			{% if pubs[0]['shippingtype'] == "Fijo" %}  	
				Costo del envío: {{  pubs[0]['shipping_price'] }} 		      
			{% end %}
			</span>
		</div> 
	</div>
	{% end %}
{% except %}
{% end %}

{% try %}

	{% if is_sold %}
	
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-warning">  
				<div class="panel-heading"><i class="glyphicon glyphicon-user"></i> Datos del vendedor</div>
				<ul class="list-group">
					<li class="list-group-item"><label>Email</label> {{pubs[0]['email']}}</li>
					<li class="list-group-item"><label>Dirección</label> {{pubs[0]['direccion']}}</li>
					<li class="list-group-item"><label>Teléfono</label> {{pubs[0]['telefono']}}</li> 
				</ul>
			</div>
		</div>
	</div>

	{% end %}
{% except %}
{% end %}