
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Tendencias </b>
    </div>        
    <div class="panel-body">        
        <div class="col-md-12 user-details">
            <div class="row overview">
                <script type="text/javascript">
                    for(i=0; i < currtrendings.length; i++ ){
                        document.write('<a href="/gopanel/Published/'+currtrendings[i].subcategory+'/'+currtrendings[i].nombre+'/0">' +currtrendings[i].nombre + '</a><br/>');
                    }
                </script>
            </div>
        </div>
    </div>
</div>
