<div role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Project name</a>
        </div>
        <div class="navbar-collapse collapse in" aria-expanded="true" style="">

          <!-- Left nav -->
          <ul class="nav navbar-nav" data-smartmenus-id="14469147648418958">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class=""><a href="#" class="has-submenu" id="sm-14469147648418958-1" aria-haspopup="true" aria-controls="sm-14469147648418958-2" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" id="sm-14469147648418958-2" role="group" aria-hidden="true" aria-labelledby="sm-14469147648418958-1" aria-expanded="false" style="width: auto; display: none;">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#" class="has-submenu" id="sm-14469147648418958-3" aria-haspopup="true" aria-controls="sm-14469147648418958-4" aria-expanded="false">One more separated link <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="sm-14469147648418958-4" role="group" aria-hidden="true" aria-labelledby="sm-14469147648418958-3" aria-expanded="false">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#" class="has-submenu" id="sm-14469147648418958-5" aria-haspopup="true" aria-controls="sm-14469147648418958-6" aria-expanded="false">A long sub menu <span class="caret"></span></a>
                      <ul class="dropdown-menu" id="sm-14469147648418958-6" role="group" aria-hidden="true" aria-labelledby="sm-14469147648418958-5" aria-expanded="false">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="disabled"><a href="#" class="disabled">Disabled item</a></li>
                        <li><a href="#">One more link</a></li>
                        <li><a href="#">Menu item 1</a></li>
                        <li><a href="#">Menu item 2</a></li>
                        <li><a href="#">Menu item 3</a></li>
                        <li><a href="#">Menu item 4</a></li>
                        <li><a href="#">Menu item 5</a></li>
                        <li><a href="#">Menu item 6</a></li>
                        <li><a href="#">Menu item 7</a></li>
                        <li><a href="#">Menu item 8</a></li>
                        <li><a href="#">Menu item 9</a></li>
                        <li><a href="#">Menu item 10</a></li>
                        <li><a href="#">Menu item 11</a></li>
                        <li><a href="#">Menu item 12</a></li>
                        <li><a href="#">Menu item 13</a></li>
                        <li><a href="#">Menu item 14</a></li>
                        <li><a href="#">Menu item 15</a></li>
                        <li><a href="#">Menu item 16</a></li>
                        <li><a href="#">Menu item 17</a></li>
                        <li><a href="#">Menu item 18</a></li>
                        <li><a href="#">Menu item 19</a></li>
                        <li><a href="#">Menu item 20</a></li>
                        <li><a href="#">Menu item 21</a></li>
                        <li><a href="#">Menu item 22</a></li>
                        <li><a href="#">Menu item 23</a></li>
                        <li><a href="#">Menu item 24</a></li>
                        <li><a href="#">Menu item 25</a></li>
                        <li><a href="#">Menu item 26</a></li>
                        <li><a href="#">Menu item 27</a></li>
                        <li><a href="#">Menu item 28</a></li>
                        <li><a href="#">Menu item 29</a></li>
                        <li><a href="#">Menu item 30</a></li>
                        <li><a href="#">Menu item 31</a></li>
                        <li><a href="#">Menu item 32</a></li>
                        <li><a href="#">Menu item 33</a></li>
                        <li><a href="#">Menu item 34</a></li>
                        <li><a href="#">Menu item 35</a></li>
                        <li><a href="#">Menu item 36</a></li>
                        <li><a href="#">Menu item 37</a></li>
                        <li><a href="#">Menu item 38</a></li>
                        <li><a href="#">Menu item 39</a></li>
                        <li><a href="#">Menu item 40</a></li>
                        <li><a href="#">Menu item 41</a></li>
                        <li><a href="#">Menu item 42</a></li>
                        <li><a href="#">Menu item 43</a></li>
                        <li><a href="#">Menu item 44</a></li>
                        <li><a href="#">Menu item 45</a></li>
                        <li><a href="#">Menu item 46</a></li>
                        <li><a href="#">Menu item 47</a></li>
                        <li><a href="#">Menu item 48</a></li>
                        <li><a href="#">Menu item 49</a></li>
                        <li><a href="#">Menu item 50</a></li>
                        <li><a href="#">Menu item 51</a></li>
                        <li><a href="#">Menu item 52</a></li>
                        <li><a href="#">Menu item 53</a></li>
                        <li><a href="#">Menu item 54</a></li>
                        <li><a href="#">Menu item 55</a></li>
                        <li><a href="#">Menu item 56</a></li>
                        <li><a href="#">Menu item 57</a></li>
                        <li><a href="#">Menu item 58</a></li>
                        <li><a href="#">Menu item 59</a></li>
                        <li><a href="#">Menu item 60</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Another link</a></li>
                    <li><a href="#">One more link</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

          <!-- Right nav -->
          <ul class="nav navbar-nav navbar-right" data-smartmenus-id="144691476486032">
            <li class="active"><a href="bootstrap-navbar.html">Default</a></li>
            <li><a href="bootstrap-navbar-static-top.html">Static top</a></li>
            <li><a href="bootstrap-navbar-fixed-top.html">Fixed top</a></li>
            <li><a href="bootstrap-navbar-fixed-bottom.html">Fixed bottom</a></li>
            <li><a href="#" class="has-submenu" id="sm-144691476486032-1" aria-haspopup="true" aria-controls="sm-144691476486032-2" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" id="sm-144691476486032-2" role="group" aria-hidden="true" aria-labelledby="sm-144691476486032-1" aria-expanded="false">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#" class="has-submenu" id="sm-144691476486032-3" aria-haspopup="true" aria-controls="sm-144691476486032-4" aria-expanded="false">A sub menu <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="sm-144691476486032-4" role="group" aria-hidden="true" aria-labelledby="sm-144691476486032-3" aria-expanded="false">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="disabled"><a href="#" class="disabled">Disabled item</a></li>
                    <li><a href="#">One more link</a></li>
                  </ul>
                </li>
                <li><a href="#">A separated link</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>