<!--Header-->
<nav id="mainNavbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="color:white">
            <div class="visible-xs" style="position: absolute; text-align: center; width: 100%; margin-top: 15px;">
              <a href="/gopanel/Published/none/none/0"><b style="color:white">Weetup</b></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Inicio</span>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            {% if current_user != "comprador" %}
            <a style="color:white" href="/goform/addpublish/agregar_publicación/none">
            <button style="background-color:#337ab7" type="button" style="float:rigth;margin-rigth:10px" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#">
                <span class="sr-only">Salir</span>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            </a>
            {% end %}
            <button type="button" style="float:left;margin-left:10px" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Salir</span>
                <span class="glyphicon glyphicon-user"></span>
            </button>
          <!-- <a class="navbar-brand" href="#">Weetup</a>-->
        
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                      <li class="hidden-xs">
                        <a href="/"><b style="color:white">Gestión Interna</b></a>
                      </li>
                      {% if current_user == "comprador" %}
                        <li><a href="/gologin">Iniciar sesión</a></li>
                      {% end %}
                {% try %}
                   {% if current_user != "comprador" %}
          	         {% if  len(notes) == 0 %}      
                        <li><a href="/shownotifications/none/none">Notificación</a></li>
          	         {% else %}
          	            <li><a href="/shownotifications/none/none">Notificación <span style="background-color:red" class="badge badge-info ">{{ len(notes) }}</span></a></li>      
          	         {% end %}
                   {% end %}
                {% except %}
                      <!-- <li><a href="/shownotifications/none/none">Notificación2</a></li> -->
		      <!-- a continuacion el menu de Notificación -->
		      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Notificación<span class="caret"></span></a>      
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="/goform/addgeneric/agregar_Alumno/0">Gestión</a></li>
                          </ul>
                      </li>
                {% end %}
               
			<li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Empleados<span class="caret"></span></a>      
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="/goform/addgeneric/agregar_empleado/0">Agregar</a></li>
			    <li><a href="/goform/addgeneric/modificar_empleado/0">Modificar</a></li>
			    <li><a href="/goform/addgeneric/borrar_empleado/0">Borrar</a></li>
	                            <li class="divider"></li>                           
        		                    <li><a href="/listar/empleados/vTodas">Listar</a></li>		
                          </ul>
                      </li>

			<li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vacaciones<span class="caret"></span></a>      
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="/goform/addgeneric/agregar_solicitud_vacaciones/0">Agregar</a></li>
                            <li><a href="/goform/addgeneric/Modificar_solicitud_vacaciones/0">Modificar</a></li>
                            <li><a href="/goform/addgeneric/Borrar_solicitud/0">Borrar</a></li>
                            <li><a href="/generatepdf/">Planilla PDF Actual</a></li>                 
                            <li class="divider"></li>                           
                            <li><a href="/listar/SolicitudVistaVacaciones/vSolicitud">Listar</a></li>		

                            <li><a href="/goform/addgeneric/Siguiente_estado_solicitud/0">Cambiar estado</a></li>              
                            <li class="divider"></li>                           
                            <li><a href="/goform/addgeneric/Talento_humano/0">Talento humano  <span style="background-color:red" class="badge badge-info ">3</span> </a></li>             				
                            <li><a href="/goform/addgeneric/Direccion_ejecutiva/0">Dirección ejecutiva</a></li>              
                            <li><a href="/goform/addgeneric/Finanzas/0">Finanzas</a></li>              
                          </ul>
                      </li>

			<li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Permisos<span class="caret"></span></a>      
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="/goform/addgeneric/agregar_representante_legal/0">Agregar</a></li>
                            <li><a href="/goform/addgeneric/modificar_representante_legal/0">Modificar</a></li>
                            <li><a href="/goform/addgeneric/borrar_representante_legal/0">Borrar</a></li>
                            <li class="divider"></li>                           
                            <li><a href="/listar/empleados/vTodas">Listar</a></li>		

                            <li><a href="#">Proceso</a></li>
                          </ul>
                      </li>

        
            
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi Cuenta<span class="caret"></span></a>      
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>
                                <a class="has-submenu" aria-haspopup="true" aria-expanded="false" tabindex="-1" href="#">Configuración <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="/checkprofile/editprofile/modificar_perfil/{{ user_id }}">Perfil</a></li>                  
                                    <li><a tabindex="-1" href="/gochangepass/none/">Cambiar contraseña</a></li>                  
                                </ul>
                            </li>

                          </ul>
                      </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs" >       
          {% if current_user == "comprador" %}
              <li><a href="/goregister">¡Regístrate!</a></li>
          {% else %}
              <li>
                  <a href="#" tabindex="-1" class="has-submenu" aria-haspopup="true" aria-expanded="false">${{ current_user  }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/logout">Cerrar sesión</a></li>
                  </ul>
              </li>
           {% end %} 
          </ul>
          
          <ul style="margin-top:10px" class="nav navbar-nav navbar-right hidden-xs hidden-sm" >    
              {% if current_user != "comprador" %}   
              <!--li><a href="/goform/gopublish/agregar_publicación/none">Anunciar</a></li-->
              {% end %}
              {% include "../../forms/search.html" %}
          </ul>
         
        </div><!-- /.navbar-collapse -->

        <div class="hidden-lg hidden-md hidden-sm">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                {% if current_user == "comprador" %}
                    <li><a href="/gologin">Iniciar sesión</a></li>
                {% else %}
                    <li>
                        <a href="#" tabindex="-1" class="has-submenu" aria-haspopup="true" aria-expanded="false">${{ current_user  }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                 {% end %} 
              </ul>
          </div>
        </div>

    </div>
</nav>
