<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sensa - Free CSS Template by spyka Webmaster</title>
<link rel="stylesheet" href="styles.css" type="text/css" />
<!--
sensa, a free CSS web template by spyka Webmaster (www.spyka.net)

Download: http://www.spyka.net/web-templates/sensa/

License: Creative Commons Attribution
//-->
</head>

<body class="noheader">
<div id="container">
	<div id="header"><img src="images/logo_cenditelN.png" alt="Slide #1 image" align = "right"/>
    	<h1><a href="/">SAFET</a></h1>
        <h2>Sistema Automatizado para la Firma Electrónica y Estampillado de Tiempo</h2>
        <div class="clear"></div>
    </div>
    <div id="nav">
    	<ul class="sf-menu dropdown">
        	<li><a href="index.html">Inicio</a></li>
            <li><a href="examples.html">Agregar/Modificar informaci&oacute;n</a></li>
            <li><a href="page_new_1.html">Listar/Graficar/Consultar</a></li>
            <li class="selected"><a href="page.html">Configuraci&oacute;n</a></li>
            <li><a href="page_new_2.html">Usuarios/Roles</a></li>
            <li><a href="page_new_3.html">Cr&eacute;ditos</a></li>
        </ul>
    </div>
        
    <div id="body">
        <div id="breadcrumbs">
            <span>Usted está aquí:</span>
            <a href="index.html">Inicio</a> &raquo;
            <a href="examples.html">Agregar/Modificar información</a> &raquo;
            <strong>Listar/Graficar/Consultar</strong>
        </div>
            
		<div id="content">
            <div class="box">
				<h2>Malesuada nec iaculis</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu  arcu, ornare nec interdum id, commodo vitae turpis. Nunc porttitor  tincidunt erat, vitae tincidunt leo dignissim at. Nunc ut erat nisl,  vitae egestas lorem. In facilisis tortor quam. Morbi lacinia nunc  pulvinar ipsum aliquet nec ornare enim tincidunt. Fusce nulla sapien,  vestibulum sit amet sodales tristique, venenatis in lorem. Nunc at erat  felis. Suspendisse potenti.</p>
                <p>Nunc condimentum mollis dolor, id auctor  quam vehicula id. Phasellus nibh est, malesuada nec iaculis sit amet,  mattis sed velit. Maecenas vestibulum volutpat lacinia. Sed vestibulum  tortor at erat volutpat ultricies. Etiam non lectus metus, ut porttitor  ipsum. Vivamus ultrices aliquet ultricies. Integer magna magna, mollis  non fermentum a, hendrerit ac velit. Nunc at urna sit amet risus semper  pellentesque sit amet vel dui. Maecenas commodo porta eros, pulvinar  pharetra neque porttitor nec. </p>
                
                <h3>Lectus urna</h3>
                <p>Fusce lobortis turpis ligula, sit amet pharetra augue. Suspendisse  potenti. Curabitur nulla massa, elementum vel luctus id, bibendum a  tortor. Nullam ut ligula nec sem vehicula adipiscing ut sit amet velit.  Nunc id erat vitae quam ornare rhoncus. Cras commodo, nulla nec  sollicitudin iaculis, nisl massa convallis ante, ut consectetur tortor  ipsum sit amet turpis.</p>

                <h4>Retium turpis</h4>
                <p>Nam ligula dui, viverra quis auctor non, blandit  pretium turpis. Aenean eu neque arcu. Fusce cursus, elit sit amet  dignissim pretium, lacus eros mattis massa, ut iaculis velit purus id  dui. Ut feugiat tincidunt dui. Nulla ut massa risus. Praesent dictum  convallis ultricies. Integer accumsan, nulla sit amet posuere mollis,  lectus urna suscipit dui, quis iaculis odio turpis a risus. Fusce  suscipit molestie dui, varius lobortis purus dapibus et. Suspendisse  eleifend augue at nibh molestie condimentum. Nunc nunc elit, dapibus  nec sodales nec, sollicitudin ac lacus.</p>
                <h3>Nulla sed semper</h3>
                <p>Nullam orci leo, placerat sed  aliquam quis, tempus at lorem. In hendrerit turpis id odio accumsan sit  amet sollicitudin nibh tristique. In fermentum vehicula libero eget  lacinia. Donec eu ligula metus, sit amet eleifend mi. </p>
                <p>Vivamus gravida adipiscing sem nec mollis. Fusce id lectus vitae leo  fringilla elementum. Etiam porttitor dui in erat accumsan ac vehicula  magna mollis. Fusce eu felis ac erat hendrerit blandit.  </p>
            </div>
        </div>
        
        <div class="sidebar">
            <ul>	
               <li>
                    <h4><span>Navigate</span></h4>
                    <ul class="blocklist">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="examples.html">Examples</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
                
                <li>
                    <h4><span>About</span></h4>
                    <ul>
                        <li>
                        	<p style="margin: 0;">Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus.</p>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <h4 class="h4-green"><span>Cool Sites</span></h4>
                    <ul>
                        <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates"><strong>ThemeForest</strong></a> - premium HTML templates, WordPress themes and PHP scripts</li>
                        <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting"><strong>Web hosting</strong></a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
                        <li><a href="http://www.4templates.com/?aff=spykawg" title="4templates"><strong>4templates</strong></a> - brilliant premium templates</li>
                    </ul>
                </li>
                
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
</div>
 <div id="footer">
      <div class="footer-content">

        <div class="footer-box">
            <h4>Acerca de nuestro sitio</h4>

            <p>
                Sistema que contribuyendo a la planificación de actividades en el desarrollo de los proyectos. Permite automatizar los procesos que se llevan acabo en los proyectos, gestionar flujos de trabajos con la incorporación de herramientas como la firma electrónica y estampado de tiempo 
            </p>
        </div>
        
        <div class="footer-box">
            <h4>CENDITEL</h4>

            <ul>
              <li><a href="http://www.cenditel.gob.ve/QuienesSomos">¿Quienés somos?</a></li>
              <li><a href="http://www.cenditel.gob.ve/ComoLoHaremos">¿Cómo lo haremos?</a></li>
              <li><a href="http://www.cenditel.gob.ve/Mision">¿Cual es nuestra misión?</a></li>
              <li><a href="http://www.cenditel.gob.ve/QueQueremos">¿Qué queremos?</a></li>
              <li><a href="http://www.cenditel.gob.ve/CualEsElImpacto">¿Cuál es el impacto?</a></li>

            </ul>
        </div>
        
        <div class="footer-box">

            <h4>Proyecto SAFET</h4>
            <ul>
                <li><a href="http://wiki.cenditel.gob.ve/wiki/safet" title="spyka Webmaster resources">Wiki</a></li>
                <li><a href="http://seguridad.cenditel.gob.ve/safet" title="Gestor del Proyecto SAFET">Gestor del proyecto (Trac)</a></li>	
            </ul>	
        </div>
        
        <div class="footer-box end-footer-box">
            <h4>Busque en nuestro sitio</h4>

            <form action="#" method="get">
                <p>
                    <input type="text" id="searchquery" size="18" name="searchterm" />

                    <input type="submit" id="searchbutton" value="Buscar" class="formbutton" />
                </p>
            </form>
        </div>     
        <div class="clear"></div> 
    </div>
    <table   style="border: 2px solid #FFFFFF" width="1024px">
<tr>
<td align="center">FUNDACIÓN CENTRO NACIONAL DE DESARROLLO E INVESTIGACIÓN EN TECNOLOGÍAS LIBRES (CENDITEL) Avenida Alberto Carnevali, vía La Hechicera, Edificio CENDITEL. Teléfono: (0274)6574336 - 6574958.  Apartado Postal: 078. Código Postal: 5101A. RIF: G-20007349-7. Mérida-Venezuela
</td></tr></table> 
</div>
</body>
</html>
