<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Tibisay Planilla de Correspondencia</title>

<script language="javascript"> 
	var safettitle = "";
	var safetlistcount = 0;
	document.write('<title>'+'Planilla de Vacaciones'+'</title>');
</script>

<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/yui.css" >
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/dpSyntaxHighlighter.css">
<!--Script and CSS includes for YUI dependencies on this page-->
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/paginator.css" />
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/datatable.css" />
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/button.css" />
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/yuiloader-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/dom-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/event-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/dragdrop-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/animation-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/element-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/paginator-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/datasource-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/datatable-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/button-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/jscharts.js"></script>

<!--begin custom header content for this example-->

<!--end custom header content for this example-->

<link rel="stylesheet" href="<TEMPLATEPATH/>styles.css" type="text/css" /> 

<script type="text/javascript">
	//enable passthrough of errors from YUI Event:

	if ((typeof YAHOO !== "undefined") && (YAHOO.util) && (YAHOO.util.Event)) {
		YAHOO.util.Event.throwErrors = true;
	}
</script>

</head>
<body id="yahoo-com" class="yui-skin-sam">
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="1024">
        <tbody><tr>
        <td align="left" valign="bottom" width="35"><img src="<TEMPLATEPATH/>images/cabecera.png"  /></td>
        </tr>
</tbody></table>
</td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><div id="nav"> <MODULESMENU/> </div></td>
		<td><span style="font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color:#fff; height: 1%; width: 50%;"> <SAFETCURRENTACCOUNT/></span></td>
	</tr>
</table>

<div id="sub-header">
	<h2><img src="<TEMPLATEPATH/>/images/botontibisay.png" /> Tibisay - Planilla de Correspondecia</h2>
</div>

<div id="printPlanilla">
<table>
	<tr>
		<td><img src="<TEMPLATEPATH/>images/cintillo_300pppCENDITEL.png" align=left width="844" height="70"></td>
		<td><img src="<TEMPLATEPATH/>images/logo_cenditelN.png" height="70" width="180"></td>
	</tr>
</table>

<br><br><br><br><br>

<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="1024">
	<tr>
		<td align="center"><h3><center>Planilla de Registro de Requerimiento de la OAC</center></h3></td>
	</tr>	
</table>

<br><br><br>


<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" >
	<tr>
		<td colspan="5" bgcolor="#ABA6A6" align="center"><b>Datos del Solicitante</b></td>
	</tr>
	<tr>
		<td id="solicitudNumero" valign=TOP height="50" colspan="2">Solicitud No:</td> 
		<td id="fechaSolicitud" valign=TOP width="400" colspan="3">Fecha de la Solicitud</td> 
	</tr>

	<tr>
		<td id="nombreApellido" valign=TOP height="50" colspan="2">Apellidos y Nombres de Ciudadano/a:</td> 
		<td id="nombreOrganizacion" valign=TOP colspan="2">Organizaci&oacute;n o Comunidad Organizada: </td>  
		<td id="cedulaRIF" valign=TOP >N&uacute;mero de C&eacute;dula de Identidad o de R.I.F:</td> 
	</tr>

	<tr>
		<td id="numeroContacto" width="512" valign=TOP height="50" colspan="2">N&uacute;mero de contacto o n&uacute;mero de Fax:</td> 
		<td id="correoContacto" valign=TOP colspan="3">Direcci&oacute;n de correo electr&oacute;nico:</td>  
	</tr>
</table>

<br>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" >
	<tr>
		<td colspan="3" bgcolor="#ABA6A6" align="center"><b>Informaci&oacute;n de la solicitud</b></td>
	</tr>
	<tr>
		<td id="tipoRequerimiento" valign=TOP height="50"><b>Tipo de Requerimiento:</b></td> 
		<td id="fechaOficioe" valign=TOP ><b>Fecha del oficio:</b></td> 
		<td id="codigoOficioe" valign=TOP ><b>Codigo oficio entrante:</b></td> 
	</tr>
	<tr>
		<td id="para" colspan="2" valign=TOP height="50" ><b>Para:</b></td> 
		<td id="enviara" valign=TOP ><b>Enviado a:</b></td> 
	</tr>
	<tr>
		<td id="DescripcionRequerimiento" colspan="3" valign=TOP height="50" ><b> Descripci&oacute;n del requermiento:</b></td> 
	</tr>
</table>
<br>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024">
	<tr>
		<td colspan="3" bgcolor="#ABA6A6" align="center"><b>Respuesta...</b></td>
	</tr>
	<tr>
		<td id="instrucciones" valign=TOP height="70" width="300">Instrucciones:</td> 
		<td id="instruccionesAdicionales" colspan="2" valign=TOP >Instrucciones adicionales:</td> 
	</tr>
	<tr>
		<td id="fechaRespuesta" valign=TOP height="70" width="300">Fecha respuesta:</td> 
		<td id="codigoOficios" valign=TOP colspan="2" >C&oacute;digo del oficio:</td> 
	</tr>
	<tr>
		<td id="Respuesta" valign=TOP height="70" width="300" colspan="3" >Respuestas:</td> 
	</tr>
</table>

</div>

<script type="text/javascript">
        <SAFET/>
	document.getElementById("solicitudNumero").innerHTML= "<b>Solicitud No: </b>" + safetlist[0]["id"];
	document.getElementById("fechaSolicitud").innerHTML="<b>Fecha de la Solicitud: </b>" + safetlist[0]["fecha_recepcion"];;
	document.getElementById("nombreApellido").innerHTML="<b>Apellidos y Nombres de Ciudadano/a: </b>" safetlist[0]["nombreciudadano"];;
	document.getElementById("nombreOrganizacion").innerHTML="<b>Organizaci&oacute;n o Comunidad Organizada: </b>" + safetlist[0]["procedencia"];
	document.getElementById("cedulaRIF").innerHTML="<b>N&uacute;mero de C&eacute;dula de Identidad o de R.I.F: </b>" + safetlist[0]["cedulaciudadano"];
	document.getElementById("numeroContacto").innerHTML="<b>N&uacute;mero de contacto o n&uacute;mero de Fax: </b>" + safetlist[0]["telefonociudadano"];
	document.getElementById("correoContacto").innerHTML="<b>Direcci&oacute;n de correo electr&oacute;nico: </b>" + safetlist[0]["correociudadano"];
	document.getElementById("tipoRequerimiento").innerHTML="<b>Tipo de Requerimiento: </b>" + safetlist[0]["tipo"];
	document.getElementById("fechaOficioe").innerHTML="<b> Fecha del oficio: </b>" + safetlist[0]["fecha_generada"];
	document.getElementById("codigoOficioe").innerHTML="<b>Codigo oficio entrante: </b>" + safetlist[0]["codigo_oficio_entrante"];
	document.getElementById("para").innerHTML="<b>Para: </b>" + safetlist[0]["para"];
	document.getElementById("enviara").innerHTML="<b>Enviado a: </b>" + safetlist[0]["status"];
	document.getElementById("DescripcionRequerimiento").innerHTML="<b>Descripci&oacute;n del requermiento: </b>" + safetlist[0]["asunto"];	
	document.getElementById("instrucciones").innerHTML="<b>Instrucciones: </b>" + safetlist[0]["instrucciones"];
    document.getElementById("instruccionesAdicionales").innerHTML="<b>Instrucciones adicionales: </b>" + safetlist[0]["instrucciones_adicionales"];
    document.getElementById("fechaRespuesta").innerHTML="<b>Fecha respuesta: </b>" + safetlist[0]["fecha_respuesta"];	
	document.getElementById("codigoOficios").innerHTML="<b>C&oacute;digo del oficio: </b>" + safetlist[0]["codigo_oficio_saliente"];
    document.getElementById("Respuesta").innerHTML="<b>Respuestas: </b>" + safetlist[0]["respuesta"];
</script>

<script type="text/javascript">
<!--
function printContent(id){
str=document.getElementById(id).innerHTML
newwin=window.open('','printwin','left=100,top=100,width=400,height=400')
newwin.document.write('<HTML>\n<HEAD>\n')
newwin.document.write('<TITLE>Print Page</TITLE>\n')
newwin.document.write('<script>\n')
newwin.document.write('function chkstate(){\n')
newwin.document.write('if(document.readyState=="complete"){\n')
newwin.document.write('window.close()\n')
newwin.document.write('}\n')
newwin.document.write('else{\n')
newwin.document.write('setTimeout("chkstate()",2000)\n')
newwin.document.write('}\n')
newwin.document.write('}\n')
newwin.document.write('function print_win(){\n')
newwin.document.write('window.print();\n')
newwin.document.write('chkstate();\n')
newwin.document.write('}\n')
newwin.document.write('<\/script>\n')
newwin.document.write('</HEAD>\n')
newwin.document.write('<BODY onload="print_win()">\n')
newwin.document.write(str)
newwin.document.write('</BODY>\n')
newwin.document.write('</HTML>\n')
newwin.document.close()
}
//-->
</script>

<form action="">
<input type="button" value="Imprimir planilla" onclick="printContent('printPlanilla')">
</form>

</body>
</html>
