<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Tibisay Planilla Solicitud de Vacaciones</title>

<script language="javascript"> 
	var safettitle = "";
	var safetlistcount = 0;
	document.write('<title>'+'Planilla de Vacaciones'+'</title>');
</script>

<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/yui.css" >
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/dpSyntaxHighlighter.css">
<!--Script and CSS includes for YUI dependencies on this page-->
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/paginator.css" />
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/datatable.css" />
<link rel="stylesheet" type="text/css" href="http://seguridad.cenditel.gob.ve/safet/media/button.css" />
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/yuiloader-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/dom-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/event-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/dragdrop-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/animation-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/element-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/paginator-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/datasource-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/datatable-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/button-min.js"></script>
<script type="text/javascript" src="http://seguridad.cenditel.gob.ve/safet/media/jscharts.js"></script>

<!--begin custom header content for this example-->

<!--end custom header content for this example-->

<link rel="stylesheet" href="<TEMPLATEPATH/>styles.css" type="text/css" /> 

<script type="text/javascript">
	//enable passthrough of errors from YUI Event:

	if ((typeof YAHOO !== "undefined") && (YAHOO.util) && (YAHOO.util.Event)) {
		YAHOO.util.Event.throwErrors = true;
	}
</script>

</head>
<body id="yahoo-com" class="yui-skin-sam">

<table summary="Navigation elements." border="0" cellpadding="0" cellspacing="0" width="1024">
	<tbody>
		<tr>
			<td width="1024">
				<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="1024">
					<tbody>
						<tr>
							<td align="left" valign="bottom" width="35"><img src="<TEMPLATEPATH/>images/bandera.png" height="58" width="50" /></td>
							<td align="left" valign="bottom" width="169"><img src="<TEMPLATEPATH/>images/fir_gob.png" height="58" width="169" /></td>
							<td align="left" valign="bottom" width="15"><img src="<TEMPLATEPATH/>images/barra.png" height="58" width="15" /></td>
							<td style="font-size: 14px; color: rgb(109, 110, 110); font-family: Arial,Helvetica,sans-serif; text-decoration: none; letter-spacing: -0.5px; line-height: 1em;" align="left" valign="middle" width="500"><br />Ministerio del Poder Popular para <span style="font-size: 14px; color: rgb(77, 77, 77); font-family: Arial,Helvetica,sans-serif; text-decoration: none; font-weight: bold; letter-spacing: -0.5px; line-height: 1em;">Ciencia, Tecnolog&iacute;a e Industrias Intermedias</span></td>
							<td align="left" valign="bottom" width="15"><img src="<TEMPLATEPATH/>images/barra.png" height="58" width="15" /></td>
							<td style="font-size: 14px; color: rgb(109, 110, 110); font-family: Arial,Helvetica,sans-serif; text-decoration: none; letter-spacing: -0.5px; line-height: 1em;" align="left" valign="middle" width="450"><br />Fundaci&oacute;n Centro Nacional de <span style="font-size: 14px; color: rgb(77, 77, 77); font-family: Arial,Helvetica,sans-serif; text-decoration: none; font-weight: bold; letter-spacing: -0.5px; line-height: 1em;">Desarrollo e Investigaci&oacute;n en Tecnolog&iacute;as Libres</span></td>
							<td align="left" valign="bottom" width="250">&nbsp;</td>
							<td align="right" valign="bottom" width="68"><img src="<TEMPLATEPATH/>images/200g.png" /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><div id="nav"> <MODULESMENU/> </div></td>
		<td><span style="font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color:#fff; height: 1%; width: 50%;"> <SAFETCURRENTACCOUNT/></span></td>
	</tr>
</table>

<div id="sub-header">
	<h2><img src="<TEMPLATEPATH/>/images/botontibisay.png" /> Tibisay - Planilla de Vacaciones</h2>
</div>

<div id="printPlanilla">
<table>
	<tr>
		<td><img src="<TEMPLATEPATH/>images/cintillo_300pppCENDITEL.png" align=left width="844" height="70"></td>
		<td><img src="<TEMPLATEPATH/>images/logo_cenditelN.png" height="70" width="180"></td>
	</tr>
</table>

<br><br><br><br><br>

<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="1024">
	<tr>
		<td align="center"><h3><center>SOLICITUD DE VACACIONES</center></h3></td>
	</tr>	
</table>

<br><br><br>
	
<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" >
	<tr>
		<td id="solicitudNumero" width="512" valign=TOP height="50">Solicitud No:</td>
		<td id="fechaSolicitud" valign=TOP>Fecha de la Solicitud</td>
	</tr>
</table>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" >
	<tr id="21">
		<td id="nombreApellido" valign=TOP height="50" >Apellidos y Nombres:</td>
		<td id="cedula" valign=TOP >C&eacute;dula de Identidad:</td>
		<td id="fechaIngreso" valign=TOP >Fecha de ingreso</td>
	</tr>
</table>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" id="3">
	<tr id="31">
		<td id="cargo" width="512" valign=TOP height="50" >Cargo:</td>
		<td id="dependencia" valign=TOP >Dependencia:</td>
	</tr>
</table>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" id="4">
	<tr id="41">
		<td id="nombrePeriodo" valign=TOP height="50" >Periodo Vacacional:</td>
		<td id="diascorrespondiente" valign=TOP height="50"><b>D&iacute;as correspondiente:<b></td>
		<td id="diasSolicitado" valign=TOP >D&iacute;as Solicitados:</td>
		<td id="diasDisfrutado" valign=TOP >D&iacute;as disfrutados</td>
		<td id="diasPorDisfrutar" valign=TOP >D&iacute;as por disfrutar</td>
	</tr>
</table>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" id="4">
        <tr id="41">
                <td id="fecha_inicio" width="512" valign=TOP height="50" >Fecha de inicio de las vacaciones</td>
                <td id="fecha_fin" valign=TOP >Fecha de culminacion de las vacaciones:</td>
		<td id="firma_solicitante" valign=TOP ><b>  Firma del Solicitante: </b></td>
        </tr>
</table>
	
<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" id="5">
	<tr id="51">
		<td id="suplente_1" valign=TOP height="50" width="512">Suplente interno 1:</td>
		<td id="cargo_1" valign=TOP ><b> Cargo:</b></td>
		<td id="firma_1" valign=TOP ><b> Firma:</b></td>
	</tr>
	<tr id="52">
		<td id="suplente_2" valign=TOP height="50" >Suplente interno 2:</td>
		<td id="cargo_2" valign=TOP ><b> Cargo:</b></td>
		<td id="firma_2" valign=TOP ><b> Firma:</b></td>
	</tr>
</table><br>

<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024" >
	<tr>
		<td colspan="3" bgcolor="#ABA6A6" align="center"><b>Para ser llenado por la unidad de Talento Humano</b></td>
	</tr>
	<tr>
		<td id="fechaincorporacion" valign=TOP height="50"><b>Fecha de incorporaci&oacute;n:</b></td>
		<td id="ferchafinalizacion" valign=TOP ><b>Fecha de finalizaci&oacute;n:</b></td>
		<td id="diasinhabiles" valign=TOP ><b>Dias Inhabiles:</b></td>
	</tr>
	<tr>
		<td id="bonovacacional" valign=TOP height="50" ><b>Bono Vacacional </b></td>
		<td id="sueldodelmes" valign=TOP ><b>Sueldo del Mes</b></td>
		<td id="sueldoanticipado" valign=TOP ><b>Sueldo Anticipado</b></td>
	</tr>
	<tr>
		<td colspan="3" id="totalcancelar" valign=TOP height="50" ><b>Total a Cancelar</b></td>
	</tr>

</table>

<br>
<table bgcolor="#ffffff" border="1" cellpadding="2" cellspacing="2" width="1024">
	<tr>
		<td colspan="3" bgcolor="#ABA6A6" align="center"><b>Autorizaciones</b></td>
	</tr>
	<tr>
		<td id="Firmatalentohumano" valign=TOP height="70" width="300">Firma Talento Humano:</td>
		<td id="Observacionestalenmtohumano" valign=TOP >Observaciones:</td>
	</tr>
	<tr>
		<td id="Firmadirejecutiva" valign=TOP height="70" width="300">Firma Talento Humano:</td>
		<td id="Observacionesdirejecutiva" valign=TOP >Observaciones:</td>
	</tr>
	<tr>
		<td id="Firmapresidencia" valign=TOP height="70" width="300">Firma Talento Humano:</td>
		<td id="Observacionespresidencia" valign=TOP >Observaciones:</td>
	</tr>
</table>

</div>

<script type="text/javascript">
        <SAFET/>
	var cedula=safetlist[0]["informacion_usuario"].substr(safetlist[0]["informacion_usuario"].indexOf('(')+1,safetlist[0]["informacion_usuario"].indexOf(')')-1);
	var nombreApellido = safetlist[0]["informacion_usuario"].substr(safetlist[0]["informacion_usuario"].indexOf(')')+1,(safetlist[0]["informacion_usuario"].indexOf(',')-1-safetlist[0]["informacion_usuario"].indexOf(')')));
        document.getElementById("solicitudNumero").innerHTML= "<b>Solicitud No: </b>" + parseInt(safetlist[0]["id"]);
	document.getElementById("fechaSolicitud").innerHTML= "<b>Fecha de la Solicitud: </b>" + safetlist[0]["fechasolicitud"];
	document.getElementById("nombreApellido").innerHTML="<b>Apellidos y Nombres: </b>" + nombreApellido;
	document.getElementById("cedula").innerHTML="<b>C&eacute;dula de Identidad: </b>" + cedula;
	document.getElementById("fechaIngreso").innerHTML="<b>Fecha de ingreso </b>" + safetlist[0]["fecha_ingreso"];
	document.getElementById("cargo").innerHTML="<b>Cargo: </b>" + safetlist[0]["fechasolicitud"];
	document.getElementById("dependencia").innerHTML="<b>Dependencia: </b>" + safetlist[0]["fechasolicitud"];
	document.getElementById("nombrePeriodo").innerHTML="<b>Periodo: </b>" + safetlist[0]["nombre"];
	document.getElementById("diasSolicitado").innerHTML="<b>D&iacute;as solicitado: </b>" + safetlist[0]["diasadisfrutar"];
	document.getElementById("diasDisfrutado").innerHTML="<b>D&iacute;as disfrutados: </b>" + safetlist[0]["diasdisfrutados"];
	document.getElementById("diasPorDisfrutar").innerHTML="<b>D&iacute;as por disfrutar: </b>" + safetlist[0]["diaspordisfrutar"];
	document.getElementById("suplente_1").innerHTML="<b>Suplente interno 1: </b>" + safetlist[0]["suplenteinterno_1"];
	document.getElementById("suplente_2").innerHTML="<b>Suplente interno 2: </b>" + safetlist[0]["suplenteinterno_2"];	
	document.getElementById("fecha_inicio").innerHTML="<b>Fecha desde: </b>" + safetlist[0]["fechainicio"];
        document.getElementById("fecha_fin").innerHTML="<b>Fecha hasta: </b>" + safetlist[0]["fechafin"];
</script>

<script type="text/javascript">
<!--
function printContent(id){
str=document.getElementById(id).innerHTML
newwin=window.open('','printwin','left=100,top=100,width=400,height=400')
newwin.document.write('<HTML>\n<HEAD>\n')
newwin.document.write('<TITLE>Print Page</TITLE>\n')
newwin.document.write('<script>\n')
newwin.document.write('function chkstate(){\n')
newwin.document.write('if(document.readyState=="complete"){\n')
newwin.document.write('window.close()\n')
newwin.document.write('}\n')
newwin.document.write('else{\n')
newwin.document.write('setTimeout("chkstate()",2000)\n')
newwin.document.write('}\n')
newwin.document.write('}\n')
newwin.document.write('function print_win(){\n')
newwin.document.write('window.print();\n')
newwin.document.write('chkstate();\n')
newwin.document.write('}\n')
newwin.document.write('<\/script>\n')
newwin.document.write('</HEAD>\n')
newwin.document.write('<BODY onload="print_win()">\n')
newwin.document.write(str)
newwin.document.write('</BODY>\n')
newwin.document.write('</HTML>\n')
newwin.document.close()
}
//-->
</script>

<form action="">
<input type="button" value="Imprimir planilla" onclick="printContent('printPlanilla')">
</form>

</body>
</html>
