<script>
myval = 0;
</script>

{% extends "layouts/tc_main_layout.html" %}

{% block title %}Gestión Interna - Cambiar Estado{% end %}

{% block ownstyles %}
	<link href="/static/css/safetform.css" rel="stylesheet">

	<style type="text/css">

		#safetform input[type="file"]{
			display:none;
		}

		#safetform div.column {
			margin-top: 15px;
		}

		#safetform input[type="radio"]{
			margin-left: 20px;
		}
	</style>

{% end %}

{% block ownscripts %}
<script type="text/javascript">

function fieldSearch() {
	
	}

function createTable(data) {
	
	console.log("...createTable...");
	console.log("data: %o", data);
	//******************************************
	var title = '<h2> Estado de la solicitud </h2> \n ';
    var head = '<div class=\'container\'> \n <table id=\' \' class=\'table table-bordered\'> \n <thead> \n <tr>\n <th>Estado</th>\n <th>Usuario</th> \n <th>Fecha</th> \n <th>Tiempo</th> \n <th>Espera</th> \n </tr>\n </thead>\n <tbody> \n';
    var footer = '</tbody> \n </table> \n </div>';
    var tableHtml = title + head;
    var estados = ["TalentoHumano", "DireccionInterna", "DireccionEjecutiva", "Finanzas", "Archivar_solicitud_procesada"]
    //*******************************************
    
   for (i = 0; i < 5; i++ ) {
		for (var pru in data) {
			var field = data[pru];
		    console.log(field['estado'] + " vs " + estados[i]);
	        
	        if(field['estado'] == estados[i]) { 
				console.log("***Son iguales***");
				if(field['visita'] == true) {
					console.log("---true - Entro");
					tableHtml += '<tr class="active">\n<td>' + estados[i] + '</td>\n<td>' + field['usuario'] + '</td>\n<td>' + field['fecha'] +' </td>\n<td>' + field['tiempo'] +'</td>\n<td>' + field['espera'] + ' </td>\n</tr>\n';
			    }			
				else {
					console.log("---false - Entro");
					tableHtml += '<tr>\n<td>' + estados[i] + '</td>\n<td>' + field['usuario'] + '</td>\n<td>' + field['fecha'] +' </td>\n<td>' + field['tiempo'] +'</td>\n<td>' + field['espera'] + ' </td>\n</tr>\n';
				}
			} else {
				console.log("No son iguales");
				}
		}
	}
	tableHtml += footer;
	document.getElementById("table-status").innerHTML = tableHtml;
}


function jsonTable(datajson) {
	console.log("....jsonTable()....");
	var dataJson = new Array();
	var data = new Array();
	var v_estado = "";
	var v_usuario = "";
	var v_fecha = "";
	var v_date = "";
	var v_tiempo = "";
	var v_espera = "";
	var v_visita = "";
	var objVarVerifique = JSON.parse(datajson);
	$.each(objVarVerifique, function(idx, obj) {
		if(idx == 'data') {
			fielData = obj;
			$.each(fielData, function(id, objx) { 
				if(id == 'nodes') {
					fielnode = objx;
					$.each(fielnode, function(idy, objy) { 
						fileobject = objy;
						v_estado = "";
						v_usuario = "";
						v_fecha = "";
						v_date = "";
						v_tiempo = "";
						v_espera = "";
						v_visita = "";
						
						if(objy['name'] != '') {
							v_estado = objy['name'];
							console.log("Estado: " + v_estado );
						}
						if (objy['index'] > 0) {
							v_visita = true;
							v_usuario = objy['parameter3'];
							console.log("Usuario : " + v_usuario );
							v_fecha = objy['parameter4'];
							console.log("Fecha : " + v_fecha );						
							v_date = objy['date'];
							console.log("Date : " + v_date );							
							v_tiempo = objy['parameter5'];
							console.log("Tiempo : " + v_tiempo );
							v_espera = objy['parameter6'];
							console.log("Espera : " + v_espera );
							
						} else {
							v_visita = false;
						}
						console.log("Visitado: " + v_visita);
						data = {estado:v_estado, usuario:v_usuario, fecha:v_fecha, tiempo:v_tiempo, espera:v_espera, visita:v_visita};
						dataJson.push(data);
						if (v_estado == 'inicial') {
							dataJson.pop();
						}
						if (v_estado == 'Iniciado') {
							dataJson.pop();
						}
						if (v_estado == 'final') {
							dataJson.pop();
						}
						//console.log("dataJson: %o", dataJson);
						//console.log("*******************************************"); 
					});
				}
			});	
		}
	});
	//tableHtml += footer;
	createTable(dataJson);
}

var mysubcategory = "";
var mydetailcategory = "";

function safetProcessAfter() {

	myval = $("#periodo_vacacional").val(); 
	console.log("Periodo Vacacional:" + myval);		

	myoperation = "operacion:Generar_gráfico_para_clave Clave: " + myval; 
	console.log("myoperation: " + myoperation);
            
            $.post('http://localhost:8080/ajaxconsole',{ operation: myoperation

                }, 
                    function(data) { 
			console.log("receiving...1..data");
			console.log("data: " + data);
			//jsonTable(data);
			jsonTable(data);
			myresult = eval("(" + data + ")" );
			myfile = myresult["filename"];
			console.log("myfile: " + myfile);
			$("#workflowid").attr("src","/static/tmp/" + myfile);			
			
			
                      }
		); 
}

</script>
<script src="/static/ckeditor/ckeditor.js"></script>


{% end %}



{% block panel %}

			<div class="panel panel-primary">
		      <div class="panel-heading">{{title}}</div>
		      <div class="panel-body">
		     	   {% raw mycode %}
		      </div>
		    </div>
		
<br/>

<div id="table-status"> </div>

<br/>
				<div class="panel panel-primary">
		      <div class="panel-heading">Gráfico de seguimiento de la solicitud</div>
		      <div class="panel-body">
		     	   <img id="workflowid" name="workflowid"  src="/static/img/seguimiento.png" />
		      </div>
		    </div>
				

{% end %}
