<script>
myval = 0;
</script>

{% extends "layouts/tc_main_layout.html" %}

{% block title %}Gestión Interna - Cambiar Estado{% end %}

{% block ownstyles %}
	<link href="/static/css/safetform.css" rel="stylesheet">

	<style type="text/css">

		#safetform input[type="file"]{
			display:none;
		}

		#safetform div.column {
			margin-top: 15px;
		}

		#safetform input[type="radio"]{
			margin-left: 20px;
		}
	</style>

{% end %}

{% block ownscripts %}
<script type="text/javascript">
var mysubcategory = "";
var mydetailcategory = "";

function safetProcessAfter() {

	myval = $("#periodo_vacacional").val(); 
	console.log("Periodo Vacacional:" + myval);		

	myoperation = "operacion:Generar_gráfico_para_clave Clave: " + myval; 
	console.log("myoperation: " + myoperation);
            
            $.post('http://localhost:8080/ajaxconsole',{ operation: myoperation

                }, 
                    function(data) { 
			console.log("receiving...1..data");
			console.log(data);

			      myresult = eval("(" + data + ")" );
			myfile = myresult["filename"];
			console.log("myfile: " + myfile);
			$("#workflowid").attr("src","/static/tmp/" + myfile);			
			
			
                      }
		); 
                      


}

</script>
<script src="/static/ckeditor/ckeditor.js"></script>


{% end %}



{% block panel %}

			<div class="panel panel-primary">
		      <div class="panel-heading">{{title}}</div>
		      <div class="panel-body">
		     	   {% raw mycode %}
		      </div>
		    </div>
		
<br/>
				<div class="panel panel-primary">
		      <div class="panel-heading">Gráfico de seguimiento de la solicitud</div>
		      <div class="panel-body">
		     	   <img id="workflowid" name="workflowid"  src="/static/img/seguimiento.png" />
		      </div>
		    </div>
				

{% end %}
