<script>
myval = 0;
</script>

{% extends "layouts/tc_main_layout.html" %}

{% block title %}Generar PDF{% end %}

{% block ownstyles %}
	<link href="/static/css/safetform.css" rel="stylesheet">

	<style type="text/css">

		#safetform input[type="file"]{
			display:none;
		}

		#safetform div.column {
			margin-top: 15px;
		}

		#safetform input[type="radio"]{
			margin-left: 20px;
		}
	</style>

{% end %}

{% block ownscripts %}
<script src="/static/ckeditor/ckeditor.js"></script>


{% end %}



{% block panel %}

<div class="panel panel-primary">
<div class="panel-heading">Planilla de Vacaciones</div>
<div class="panel-body">
        {% if error %}
                <br>
                <br>
                <br>
                <center><i><p style='margin-left: 2em;' class="text-primary"><label> <font style="font-size: 14pt">{{error}}</font></label></p></i></center>
                <br>
                <br>
        {% else %}
        <center>
            <i><p style='margin-left: 2em;' class="text-primary"><label> <font style="font-size: 14pt">Planilla de Vacaciones</font></label></p></i><br>
            <embed src="/static/tmp/{{name_file}}" width="750" height="950"></embed>
            <br>
        </center>
        {% end %}

</div>
</div>
{% end %}
