<script>
myval = 0;
</script>

{% extends "lists/listquery.html" %}

{% block title %}
Listado General
{% end %}

{% block listscripts %}


{% end %}



{% block buttons %}

<button id="sendemailbutton">Borrar</button>

<button id="loadscorebutton">Modificar</button>


<script type="text/javascript">

function doSafetSendEMail(myobj, mypubid, mydest, myfile) {
  
     console.log("(1)..doSafetSendEmail....mypubid:" + mypubid);
     console.log("(1)..doSafetSendEmail....mydest:" + mydest);
     console.log("(1)..doSafetSendEmail....myfile:" + myfile);
            
  $.post('/ajaxforma_enviar_boleta_por_correo', { id: mypubid,
      Asunto:'Envio de Boletas', Destinatarios:mydest, 
      adjuntos:myfile },
            function(data) {
                console.log("(2)..data:...doSafetSendEmail...*myname....data:");
                console.log(data);
                mycontainer = '#container_' + mypubid;
                console.log(".....mycontainer:" + mycontainer);
                
                myresult = eval("(" + data + ")" );
                
                console.log("result:" + myresult["result"]);
                if (myresult["result"] == "true") {                
		  $(mycontainer).html("enviado");
                  //$(myobj).html("<button>Enviado</button>");
                }
                else {
		  $(mycontainer).html("<font color='red'> NO enviado</font>");                
                }

            });

}


$("#loadscorebutton").click(function() {
 
  console.log("ddd....1");
  var myrows = mytable.rows( { selected: true } );
  
  
  for(i=0;i < myrows.count(); i++) {
       var formData = new FormData();
  
      myfile = "#datafile_" + myrows.data()[i][1];
      formData.append("alumno_id", myrows.data()[i][1]);
      console.log("*" + myfile);
      console.log($(myfile)[0].files[0]);
      myfieldname = 'archivo';
      formData.append(myfieldname, $(myfile)[0].files[0]);
      formData.append("grado_seccion", myrows.data()[i][4]);
      formData.append("lapso", $("#lapso").val());
      formData.append("tipo", $("#tipoboleta").val());

      $.ajax({
       url : '/procesararchivos_agregar_boleta',
       type : 'POST',
       data : formData,
       processData: false,  // tell jQuery not to process the data
       contentType: false,  // tell jQuery not to set contentType
       success : function(data) {
           console.log("...result...1");
           console.log(data);
           
           mydata = JSON.parse(data);
           
           console.log("...result...2");
           if (mydata['result'] == "true" ) {
		//mycontainer = '#container_'+ myrows.data()[i][1];
		mycontainer = '#container_' + mydata["alumno_id"];
	
		console.log("...result...2...mycontainer:"+mycontainer);
		$(mycontainer).html("cargado");
		
           }
	}
	
       });
  }	 
    console.log("ddd....2......procesado!");

    

  });


 
 $( "#sendemailbutton" ).click(function() {
  var myrows = mytable.rows( { selected: true } );
  console.log("count " + myrows.count()); 
  
  for(i=0;i < myrows.count(); i++) {
      console.log("send id:" + myrows.data()[i][1]);
     doSafetSendEMail(this, myrows.data()[i][1], myrows.data()[i][4], myrows.data()[i][6]);
  }	
  
});

</script>
{% end %}

