<script>
myval = 0;
</script>

{% extends "layouts/tc_main_layout.html" %}

{% block title %}Gestión Interna - Talento Humano{% end %}

{% block ownstyles %}

<link href="/static/css/safetform.css" rel="stylesheet">

<style type="text/css">

    #safetform input[type="file"]{
	    display:none;
	}

	#safetform div.column {
		margin-top: 15px;
	}

	#safetform input[type="radio"]{
		margin-left: 20px;
	} //seccion de exitos
    div.msjexito {
		font-family: Arial;
	    font-style: italic;
	    font-size: 13px;
	    position: relative;
	    margin: 5px;
	    padding-left: 5px;
	    line-height: 20px;
	    vertical-align: middle;
	    background-color: #AAD37A;
    }		
</style>

{% end %}

{% block ownscripts %}

<script src="/static/ckeditor/ckeditor.js"></script>

<script>
$(document).ready(function (){
	function Cargar_Botonera(Periodo_vacacional){
		var status = thisStatus();
		console.log(status);
		if (Periodo_vacacional != '') {  
			//$('#panel_2').show();
			$('#' + status).show();
			$('#observacion').hide();
		}
		else{
			$('#' + status).hide();
			//$('#panel_2').hide();
		}
	}
    
    $('#Devuelto').change(function(){
		console.log("cambio devuelto");
		msjDevuelto($(this).val());
	});
	
	$('#Periodo_vacacional').change(function(){
		console.log("cambio Periodo Vacacional");
		Cargar_Botonera($(this).val());
	});
});
//Función que se ejecuta luego que se carga los datos en el formulario
function safetProcessAfter() {
    console.log("....safetProcessAfter....1");
    var devuelto = document.getElementById("Devuelto").value;
    console.log(devuelto);
    mjsDevuelto(devuelto);
}

//Función que verifica si exite observación de devuelto en una solicitud
function mjsDevuelto(Devuelto) {
	console.log("msjDevuelto");
	if ( Devuelto != '') {
		alert(Devuelto);
	}
}

function DevolverInicio() {
   myid = $("#Periodo_vacacional").val();
   status = thisStatus();
   if (myid != ''){
       $('#panel_1').hide();
       $('#botonera').hide();
       $('#observacion').show();
       $('#bottonSubmit').val("inicio");
   }
   else{
        alert("No existe solicitante seleccionado...??");
   }
}

function DevolverTalentoHumano() {
   myid = $("#Periodo_vacacional").val();
   status = thisStatus();
   if (myid != ''){
       $('#panel_1').hide();
       $('#botonera_'+status).hide();
       $('#observacion_'+status).show();
       $('#bottonSubmit_'+status).val("Talento_humano");
   }
   else{
        alert("No existe solicitante seleccionado...??");
   }
}

function DevolverDireccionInterna() {
   myid = $("#Periodo_vacacional").val();
   status = thisStatus();
   if (myid != ''){
       $('#panel_1').hide();
       $('#botonera_'+status).hide();
       $('#observacion_'+status).show();
       $('#bottonSubmit_'+status).val("Direccion_gestion_interna");
   }
   else{
        alert("No existe solicitante seleccionado...??");
   }
}

function DevolverDireccionEjecutiva() {
   myid = $("#Periodo_vacacional").val();
   status = thisStatus();
   if (myid != ''){
       $('#panel_1').hide();
       $('#botonera_'+status).hide();
       $('#observacion_'+status).show();
       $('#bottonSubmit_'+status).val("Direccion_ejecutiva");
   }
   else{
        alert("No existe solicitante seleccionado...??");
   }
}

function thisStatus() {
	var estados = ["Talento_humano","Direccion_gestion_interna","Direccion_ejecutiva","Finanzas"];
	var estado = "";
	var seccion = document.getElementById('safetform').action;
	var ban = -1;
	var cont = 0;
	while (ban == -1) {
		if (seccion.search(estados[cont]) == -1) { 
			cont += 1;
		}
		else {
			console.log(estados[cont]);
			estado = estados[cont].toLowerCase();
			ban = 0;
		}
	}
	return estado;
}

function returnToApplicant() {
	status = thisStatus();
    var observacion = $('#id_observacion_'+status).val();
    console.log(observacion);
    myid = $("#Periodo_vacacional").val();
    Estado_devolver = $('#bottonSubmit_'+status).val();
    
    if (observacion != ''){ 
  	    document.getElementById("validar").innerHTML = '';
        console.log("returnToApplicant");
        //$('#panel_2').hide();
        $('#'+status).hide();
        $('#panel_3').show();
        $('#gif').show();
        document.getElementById("cargando").innerHTML = 'Cambiando el solocitante al estado ('+Estado_devolver+')......';
        $.post(
            '/ajaxforma_Devolver_solicitud', 
            {  id: myid, Estatus: Estado_devolver, Devuelto: observacion },
            //{  
            //   Siguiente_Estado: Estado_devolver, 
            //   periodo_vacacional: myid 
            //},
            function(data) {
                console.log(data);
                $('#gif').hide();
                $('#id_msjexito').show();
                $('#id_msjexito').val('Se cambio exitosamente el solicitante Nro('+myid+') al estado ('+Estado_devolver+').');                  
                 window.location.href = '/goform/SiguienteEstado/'+status+'/0';    
              }
        );      
    }
    else{
        document.getElementById("validar").innerHTML =  '\
          <label for="id_proyecto" class="error">Debe ingresar la observación..!!</label>';	
    }
}
</script>

{% end %}

{% block panel %}

<div class="panel panel-primary" id = "panel_1">
	<div class="panel-heading">{{title}}</div>
	<div class="panel-body">
		{% raw mycode %}       	   
	</div>
</div>
<br>
<div class="panel panel-success" id = "panel_2" style="display: none;">
	<div class="panel-heading">Devolver solicitante a los siguientes estados: (Iniciado), (Talento-Humano),(Dirección-Interna),(Dirección-Ejecutiva) </div>
    <div class="panel-body">
		<div id = "botonera">           
			<button type="input" class="btn btn-success" onclick="DevolverInicio()" id="id_inicio" name="inicio"> Inicio </button>
            <button type="input" class="btn btn-info" onclick="DevolverTalentoHumano()" id="id_talento_humano" name="talento_humano"> Talento-Humano</button>
			<button type="input" class="btn btn-danger" onclick="DevolverDireccionInterna()" id="id_direccion_interna" name="dirección_interna"> Dirección-Interna </button>
            <button type="input" class="btn btn-warning" onclick="DevolverDireccionEjecutiva()" id="id_direccion_ejecutiva" name="direccion_ejecutiva"> Dirección-Ejecutiva</button>     
        </div>
        <br>
        <div id = "observacion" style="display: none;">
			<label class="control-label" for="id_observacion">*Observación a Devolver:</label><br>
            <textarea class="form-control" cols="60" id="id_observacion" name="observacion" placeholder="Observación a Devolver" required="required" rows="7" style="resize: none;" title=""></textarea>
            <div id = "validar"></div>
            <br>	
            <div class="button" > 
                <div class="col-md-4 col-md-offset-9">         	   
                    <input type="botton" class="btn btn-primary" onclick="returnToApplicant()" id="bottonSubmit" name="bottonSubmit" style="width: 160px"></input>
            	</div>
            </div>             	       
         	<br>
         	<br>         	   
        </div>
    </div>	     
</div>
<div class="panel panel-success" id = "direccion_gestion_interna" style="display: none;">
	<div class="panel-heading">Devolver solicitante a los siguientes estados: (Iniciado), (Talento-Humano) </div>
    <div class="panel-body">
		<div id = "botonera_direccion_gestion_interna">           
			<button type="input" class="btn btn-success" onclick="DevolverInicio()" id="id_inicio" name="inicio"> Inicio </button>
            <button type="input" class="btn btn-info" onclick="DevolverTalentoHumano()" id="id_talento_humano" name="talento_humano"> Talento-Humano</button>     
        </div>
        <br>
        <div id = "observacion_direccion_gestion_interna" style="display: none;">
			<label class="control-label" for="id_observacion_direccion_gestion_interna">*Observación a Devolver:</label><br>
            <textarea class="form-control" cols="60" id="id_observacion_direccion_gestion_interna" name="observacion" placeholder="Observación a Devolver" required="required" rows="7" style="resize: none;" title=""></textarea>
            <div id = "validar"></div>
            <br>	
            <div class="button" > 
                <div class="col-md-4 col-md-offset-9">         	   
                    <input type="botton" class="btn btn-primary" onclick="returnToApplicant()" id="bottonSubmit_direccion_gestion_interna" name="bottonSubmit_direccion_gestion_interna" style="width: 160px"></input>
            	</div>
            </div>             	       
         	<br>
         	<br>         	   
        </div>
    </div>	     
</div>
<div class="panel panel-success" id = "direccion_ejecutiva" style="display: none;">
	<div class="panel-heading">Devolver solicitante a los siguientes estados: (Iniciado), (Talento-Humano),(Dirección-Gestión-Interna) </div>
    <div class="panel-body">
		<div id = "botonera_direccion_ejecutiva">           
			<button type="input" class="btn btn-success" onclick="DevolverInicio()" id="id_inicio" name="inicio"> Inicio </button>
            <button type="input" class="btn btn-info" onclick="DevolverTalentoHumano()" id="id_talento_humano" name="talento_humano"> Talento-Humano</button>
			<button type="input" class="btn btn-danger" onclick="DevolverDireccionInterna()" id="id_direccion_interna" name="dirección_interna"> Dirección-Interna </button>    
        </div>
        <br>
        <div id = "observacion_direccion_ejecutiva" style="display: none;">
			<label class="control-label" for="id_observacion_direccion_ejecutiva">*Observación a Devolver:</label><br>
            <textarea class="form-control" cols="60" id="id_observacion_direccion_ejecutiva" name="observacion" placeholder="Observación a Devolver" required="required" rows="7" style="resize: none;" title=""></textarea>
            <div id = "validar"></div>
            <br>	
            <div class="button" > 
                <div class="col-md-4 col-md-offset-9">         	   
                    <input type="botton" class="btn btn-primary" onclick="returnToApplicant()" id="bottonSubmit_direccion_ejecutiva" name="bottonSubmit_direccion_ejecutiva" style="width: 160px"></input>
            	</div>
            </div>             	       
         	<br>
         	<br>         	   
        </div>
    </div>	     
</div>
<div class="panel panel-success" id = "finanzas" style="display: none;">
	<div class="panel-heading">Devolver solicitante a los siguientes estados: (Iniciado), (Talento-Humano),(Dirección-Interna),(Dirección-Ejecutiva) </div>
    <div class="panel-body">
		<div id = "botonera_finanzas">           
			<button type="input" class="btn btn-success" onclick="DevolverInicio()" id="id_inicio" name="inicio"> Inicio </button>
            <button type="input" class="btn btn-info" onclick="DevolverTalentoHumano()" id="id_talento_humano" name="talento_humano"> Talento-Humano</button>
			<button type="input" class="btn btn-danger" onclick="DevolverDireccionInterna()" id="id_direccion_interna" name="dirección_interna"> Dirección-Interna </button>
            <button type="input" class="btn btn-warning" onclick="DevolverDireccionEjecutiva()" id="id_direccion_ejecutiva" name="direccion_ejecutiva"> Dirección-Ejecutiva</button>     
        </div>
        <br>
        <div id = "observacion_finanzas" style="display: none;">
			<label class="control-label" for="id_observacion_finanzas">*Observación a Devolver:</label><br>
            <textarea class="form-control" cols="60" id="id_observacion_finanzas" name="observacion" placeholder="Observación a Devolver" required="required" rows="7" style="resize: none;" title=""></textarea>
            <div id = "validar"></div>
            <br>	
            <div class="button" > 
                <div class="col-md-4 col-md-offset-9">         	   
                    <input type="botton" class="btn btn-primary" onclick="returnToApplicant()" id="bottonSubmit_finanzas" name="bottonSubmit_finanzas" style="width: 160px"></input>
            	</div>
            </div>             	       
         	<br>
         	<br>         	   
        </div>
    </div>	     
</div>

<div class="panel panel-success" id = "panel_3" style="display: none;">
    <div class="panel-heading">Devolviendo solicitante</div>
    <div class="panel-body">
        <div id="gif" style="display: none;">
            <center><img src="/static/loader.gif" /> <br><i><h4 id = "cargando"></h4></i></center>
        </div>         	   
        <div class="msjexito"> <output id="id_msjexito" style="display: none;"></div>
    </div>
</div>    		
    
{% end %}
